In [1]:
import numpy as np
import pandas as pd
#pregunta 6

In [2]:
#Una lista de nombre lista1 que tenga a las 10 primeras letras del alfabeto.

In [3]:
db = pd.read_csv('data/Libro1.csv', na_values='Not Provided')
db = db.iloc[0:10]
db
#archivo csv tranformado a dataframe y seleccionando los primero 10 valores

  Alfabeto
0        a
1        b
2        c
3        d
4        e
5        f
6        g
7        h
8        i
9        j

In [18]:
lista1 =list(db['Alfabeto'])
lista1

  Alfabeto
0        a
1        b
2        c
3        d
4        e
5        f
6        g
7        h
8        i
9        j

In [10]:
lista1.append(["gbi6", "bio1", "ikiam"])

len(lista1)

10

In [17]:
lista1[2:5]

  Alfabeto
2        c
3        d
4        e

In [19]:
lista1.append(["gbi6", "bio1", "ikiam"])

lista1[-1][-1]

KeyError: -1